:root {
  --main-text-color: #212121;
  --secondary-page-color: #ffffff;
  --third-text-color: #757575;
  --main-brand-color: #2196f3;
  --secondary-brand-color: #afb1b8;
  --main-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --logo-darck-color: #000000;
  --header-border-bottom: #ececec;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-social-color: rgba(255, 255, 255, 0.1);
  --portfolio-border-color: #eeeeee;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  margin: 0;
}

button {
  border-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

.address {
  font-style: normal;
}

.section {
  padding: 94px 0;
}

/*Главная страница*/

/* Хедер */
.header {
  border-bottom: 1px solid var(--header-border-bottom);
}

.header-content {
  display: flex;
  align-items: center;
}

/*Логотип*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-web-color {
  color: var(--main-brand-color);
}

.logo-studio-color {
  color: var(--logo-darck-color);
}

.logo-footer-color {
  color: var(--secondary-page-color);
}

/*Навигация*/
.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--main-brand-color);
}

.current {
  position: relative;
  color: var(--main-brand-color);
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--main-brand-color);
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--main-brand-color);
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.envelope-icon {
  width: 16px;
  height: 12px;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
}

/*Герой*/
.hero {
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-page-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 10px 36px;
  background-color: var(--main-brand-color);
  box-shadow: 0px 4px 4px rgba(126, 50, 50, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--secondary-page-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--main-brand-color);
  background: var(--secondary-page-color);
}

/*Особенности*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
  display: inline-block;
}

.features-icon-field {
  display: flex;
  padding: 25px 0;
  background-color: var(--secondary-background-color);
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-item-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

/*Чем мы занимаемся*/
.pre-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.directions-list {
  display: flex;
}

.directions-thumb {
  position: relative;
}

.directions-item:not(:last-child) {
  margin-right: 30px;
}

.directon-explain {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
}

.directon-explain-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-page-color);
}

/*Наша команда*/
.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
}

.team-item {
  background: var(--secondary-page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-description {
  text-align: center;
  padding: 30px 0;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  padding: 0 32px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--secondary-brand-color);
  background-color: var(--secondary-page-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--main-brand-color);
  color: var(--secondary-page-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*Наши клиенты*/

.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--secondary-brand-color);
  border-radius: 4px;
  color: var(--secondary-brand-color);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--main-brand-color);
  color: var(--main-brand-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/*Подвал*/
footer {
  background-color: var(--main-background-color);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address-footer {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.address-item {
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.address-link {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-page-color);
}

.footer-contacts-link {
  display: block;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  line-height: 1.7;
}

.social-footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-page-color);
  margin-bottom: 20px;
}

.social-list-footer {
  padding: 0;
}

.social-link-footer {
  background-color: var(--footer-social-color);
}

.social-icon-footer {
  fill: var(--secondary-page-color);
}

/*Страница портфолио*/

/*Фильтры*/
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.secondary-button {
  padding: 6px 22px;
  background-color: var(--secondary-background-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button:hover,
.secondary-button:focus {
  background: var(--main-brand-color);
  color: var(--secondary-page-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Проекты*/
.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-link {
  color: var(--main-text-color);
}

.projects-thumbs {
  position: relative;
  overflow: hidden;
}

.projects-explain {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 0 24px;
  align-items: center;
  transition-property: transform, opasity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.projects-explain-text {
	font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--secondary-page-color);
}

.projects-item:hover .projects-explain {
  transform: translateY(0);
}

.projects-description-field {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-border-color);
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
}

.projects-image {
  display: block;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-description {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

/*Модальное окно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity visibility;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: var(--secondary-page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-field {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: var(--secondary-page-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  color: var(--main-brand-color);
}

.close-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 5px;
  right: 5px;
}

.close-field:hover {
  fill: currentColor;
}
